<header>
    <nav>
        <img src="static/assets/logo_blanc.png" alt="Coffee_logo">

        <u>
            <li><a href="pages/schedulemanagement">Schedule</a></li>
            <li><button type="submit">LOG OUT</button></li>
        </u>
    </nav>
</header>