<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log in / Sign up | Mr. Coffee</title>
  <link rel="stylesheet" href="/static/main.css"/>
  <link rel="preconnect" href="https://fonts.gstatic.com"> 
  <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <div>
    <%- include('partials/header')-%>
    <div>
      <h2></h2>
    </div>
    <%- include('partials/footer')-%>
  </div>
</body>
</html>