* {
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Archivo", sans-serif;
  scroll-behavior: smooth;
}

html body {
  background-color: black;
  height: 100%;
}

h1 {
  color: white;
  text-align: center;
  padding-bottom: 25px;
}

footer {
  width: 100%;
  font-weight: 400;
  color: white;
  text-align: center;
  padding-top: 20px;
}

.btn-hover:hover {
  background-color: #7304FF;
  border: 2px solid black;
  color: white;
  -webkit-transition: all 1s;
  transition: all 1s;
}

input {
  outline: none;
}

.whole-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 25%;
  padding-top: 40px;
}

.whole-wrapper1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 25%;
  padding-top: 10%;
}

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  text-align: center;
  padding: 25px;
}

nav {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav a {
  text-decoration: none;
  display: block;
  font-size: 16px;
  letter-spacing: 0.025em;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 150px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.btn-logout {
  width: 120px;
  height: 50px;
  color: black !important;
  border: 2px solid #7304FF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 37px;
  outline: none;
  margin-right: 50px;
}

.white-coffee {
  width: 40px;
  margin: 30px 50px;
}

.form-control {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 0.1px;
}

.rectangle-one {
  width: 300px;
  height: 60px;
  margin: 15px 0px;
  border: 2px solid #7304ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.btn {
  width: 100px;
  height: 50px;
  margin-bottom: 20px;
  border: 2px solid #7304ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 37px;
  outline: none;
}

.black-coffee {
  width: 55px;
  margin: 10px;
}

.rectangle-two {
  width: 300px;
  height: 45px;
  margin: 15px 0;
  border: 2px solid #7304ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.btn-signup {
  margin-top: 10px;
  padding: 2px;
}

.home-wrapper {
  min-width: 50%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  border: 2px solid #7304ff;
  text-align: center;
}

.round-image {
  border-radius: 50%;
  border: 2px solid #7304ff;
}

.user-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
}

table {
  border: 2px solid #7304ff;
  width: 100%;
  border-collapse: collapse;
}

tr {
  border: 1px solid black;
}

.form-control input {
  display: block;
}

.form-control input:focus {
  outline: 0;
  border-color: #6a7b8b;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control i {
  visibility: hidden;
  position: absolute;
  top: 15px;
  right: 15px;
}

.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-control.error small {
  visibility: visible;
}

.form-control small {
  color: #e74c3c;
  position: absolute;
  visibility: hidden;
  left: 10px;
  top: 47px;
  font-size: 10px;
}
/*# sourceMappingURL=main.css.map */