* {
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Archivo", sans-serif;
}

body {
  background-color: black;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 60px auto;
  bottom: 0;
  width: 100vw;
  font-weight: 400;
  color: white;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-hover:hover {
  background-color: #7304FF;
  border: 2px solid black;
}

input {
  outline: none;
}

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 50%;
  left: 50%;
  min-width: 30%;
  background-color: white;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  padding: 30px;
}

.header-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 60px 0;
  font-weight: 500;
  color: white;
  position: absolute;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav a {
  text-decoration: none;
  display: block;
  color: white;
  font-size: 16px;
  letter-spacing: 0.025em;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 180px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-logout {
  width: 219px;
  height: 75px;
  color: #7304FF;
  background: #FFFFFF;
  border: 2px solid #7304FF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 37px;
}

.white-coffee {
  width: 60px;
  height: 103.9px;
  margin: 20px;
}

.form-control {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rectangle-one {
  width: 300px;
  height: 60px;
  margin: 20px 0px;
  background: #ffffff;
  border: 2px solid #7304ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.btn {
  width: 100px;
  height: 50px;
  margin-bottom: 20px;
  background: #ffffff;
  border: 2px solid #7304ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 37px;
  outline: none;
}

.black-coffee {
  width: 55px;
  margin: 20px;
}

.rectangle-two {
  width: 300px;
  height: 45px;
  margin: 15px 0;
  background: #ffffff;
  border: 2px solid #7304ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.btn-signup {
  height: 40px;
}

.home-wrapper {
  min-width: 50%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.round-image {
  border-radius: 50%;
  border: 2px solid #7304ff;
}

.user-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
}
/*# sourceMappingURL=main.css.map */