<head>
    <title>Error Error | Mr. Coffee</title>
</head>

<header class="header-layout">
    <h1>Mr Coffee Schedule</h1>
</header>

<div class="main-wrapper">
    <h1>Sorry!</h1> 
    <h2>Something is up<span>&#9937;</span></h2>
    <%=err.message%>
</div>
