<header>
    <nav>
        <img src="static/assets/logo_blanc.png" class="white-coffee" alt="Coffee_logo">

        <ul>
            <li><a style="color: white;" href="/schedulemanagement">Schedule</a></li>
            <li><button type="submit" class="btn-logout btn-hover"><a  style="color: black;" href="/logout">LOG OUT</a></button></li>
        </ul>
    </nav>
</header>

<div class="whole-wrapper">
    <h1>Sorry!</h1> 
    <div class="main-wrapper">
        <h2>something is up<span>&#9937;</span></h2>
        <%=err.message%>
    </div>
</div>