<h2>Welcome</h2>

<div>
  <img href="#" class="round-image" alt="">

  <ul class="user-schedules">
    <% for(let i =0; i < mySchedule.length; i++) { %>
    <li class="individual-users"><b>User name: </b><%= mySchedule[i].user_name %> <b>Day: </b><%= mySchedule[i].day %> <b>Start time: </b><%= mySchedule[i].start_time %> <b>End time: </b><%= mySchedule[i].end_time %></li>
    <%} %>
  </ul>

<div>
 
<h2>Your personal schedule</h2>

<div class="home-wrapper">   
    
 
</div>
