<header class="header-layout">
    <h1>Mr Coffee Schedule</h1>
</header>
<div >
  <form method="POST" action="/login">
    <div class="main-wrapper">
        <div>
            <img src="/static/assets/logo_dark.png" class="black-coffee" alt="coffee blacklogo">
            <h2>Login</h2>
        </div>

        <div>
            <input name="email" type="email" id="InputEmail1" class="rectangle-one" placeholder="Email">
            <input name="password" type="password" id="InputPassword1" class="rectangle-one" placeholder="Password">
        </div>

        <div>
            <button type="submit" class="btn btn-hover">Login</button>
            <p>don't have an account yet?</p>
            <a href="/signup">SIGN UP</a>
        </div>
    </div>
  </form>
</div>