<header>
    <nav>
        <img src="static/assets/logo_blanc.png" class="white-coffee" alt="Coffee_logo">

        <ul>
            <li><a style="color: white;" href="/schedulemanagement">Schedule</a></li>
            <li><button type="submit" class="btn-logout btn-hover"><a  style="color: black;" href="/login">LOG OUT</a></button></li>
        </ul>
    </nav>
</header>
<div>
    
</div>

