<header>
    <nav>
        <img src="static/assets/logo_blanc.png" class="white-coffee" alt="Coffee_logo">

        <u>
            <li><a href="/schedulemanagement">Schedule</a></li>
            <li><button type="submit" class="btn-logout"><a href="/login">LOG OUT</a></button></li>
        </u>
    </nav>
</header>
<div>
    
</div>

