<div class="main-wrapper">
  <form method="POST" action="/signup">

    <div>
      <img src="/static/assets/logo_dark.png" class="black-coffee" alt="coffee blacklogo">
      <h2>Signup</h2>
    </div>

    <div class="form-control">
        <input name="firstName" type="text" id="firstNameInput" class="rectangle-two" placeholder="first name">
        <input name="lastName" type="text" id="lastNameInput" class="rectangle-two"  placeholder="last name">
        <input name="email" type="email" id="emailInput" class="rectangle-two"  placeholder="email">
        <input name="password" type="password" id="passwordInput" class="rectangle-two"  placeholder="password">
        <input name="confirmPassword" type="password" id="confirmPasswordInput" class="rectangle-two"  placeholder="Re-enter your password">      
    </div>

    <div>
        <button type="submit" class="btn btn-signup">SIGN UP</button>
        <p>already have an account?</p>
        <a href="pages/login">LOG IN</a>
    </div>
  </form>
</div>