<header class="header-layout">
    <h1>Mr Coffee Schedule</h1>
</header>
<div class="main-wrapper">
  <form method="POST" action="/signup">
    <div>
      <img src="/static/assets/logo_dark.png" class="black-coffee" alt="coffee blacklogo">
      <h2>Signup</h2>
    </div>

    <div class="form-control">
        <input name="last_name" type="text" id="last_nameInput" class="rectangle-two" placeholder="last name">
        <input name="first_name" type="text" id="first_nameInput" class="rectangle-two"  placeholder="first name">
        <input name="email" type="email" id="emailInput" class="rectangle-two"  placeholder="email">
        <input name="password" type="password" id="passwordInput" class="rectangle-two"  placeholder="password">
        <input name="confirmPassword" type="password" id="confirmPasswordInput" class="rectangle-two"  placeholder="Re-enter your password">      
    </div>

    <div>
        <button type="submit" class="btn btn-signup btn-hover">SIGN UP</button>
        <p>already have an account?</p>
        <a href="/login">LOG IN</a>
    </div>
  </form>
</div>