<%- include('layout') -%>
<div>
  <form method="POST" action="/signup">

    <div>
      <img src="/static/assets/logo_dark.png" alt="coffee blacklogo">
      <h2>Signup</h2>
    </div>

    <div>
        <input name="firstName" type="text" id="firstNameInput" placeholder="first name">
        <input name="lastName" type="text" id="lastNameInput" placeholder="last name">
        <input name="email" type="email" id="emailInput" placeholder="email">
        <input name="password" type="password" id="passwordInput" placeholder="password">
        <input name="confirmPassword" type="password" id="confirmPasswordInput" placeholder="Re-enter your password">
  
        <button type="submit">SIGN UP</button>
    </div>

    <div>
        <p>already have an account?</p>
        <a href="pages/login">LOG IN</a>
    </div>
  </form>
</div>